# Environment variables
.env

# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Misc
*.sqlite3